discovery-server/.idea
discovery-server/.mvn
discovery-server/target
discovery-server/mvnw
discovery-server/mvnw.cmd

movie-catalog/.idea
movie-catalog/movie-catalog.iml
movie-catalog/.mvn
movie-catalog/target
movie-catalog/mvnw
movie-catalog/mvnw.cmd

movie-details/.idea
movie-details/movie-details.iml
movie-details/.mvn
movie-details/target
movie-details/mvnw
movie-details/mvnw.cmd

